
<!doctype html>
<html lang="pl">
    <head>
    <meta charset="utf-8">
    <title>Starter Template · Bootstrap</title>


    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/myscript.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Modbus Granplast</a>
            </nav>
        </header>

        <main role="main" class="container">

            <div class="starter-template">
                <h1>Podajnik</h1>
                <div id="petlaEach">
                    
                </div>
            </div>

        </main>
    </body>
</html>
